*{
    box-sizing: border-box;
    margin: 0;
}


.nav-link{
    list-style: none;
}
nav, .hero{
    /* background-color: #1F2937; */
    background-color: #9A3B3B;
    color: white;
    
}
ul, .hero, .products, .signup{
    display: flex;
    flex-wrap: wrap;
}

.product-img{
    width: 200px;
}

 img{
    width: 100%;
    
}
ul{
    justify-content: flex-start;
    padding: 20px;;
    gap: 2rem;
    padding-bottom: 28px;
}
.hero-img img{
    width: 100%;
    display: block;
    margin: auto;
}

.header-logo{
    margin-right: auto;
}
.hero-details{
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero button{
    margin-top: 10px;
}

.hero{
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-details{
    flex-basis: 50%;
}
.hero-img{
    flex-basis: 400px;
}
.hero-img img{ 
    border-radius: 5px;
}

body{
    min-width: 500px;
}



.hero h1{
    font-size: 48px;
}

.hero p{
    font-size: 24px;
}
button{
    color: white;
    background-color: #9A3B3B;
    padding: 5px 20px;
    border-radius: 10px;
    border-color: #9A3B3B;
}

.products{
    
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
    /* background-color: blue; */
    width: 85%;
    margin: auto;
    /* gap: 20px; */
}

.product img{
    border: solid #C08261;
    border-radius: 10px;

}
.product{
    flex-basis: 200px;
    
    justify-content: space-between;
    margin-bottom: 30px;
}
.product img{
    height: 300px;
}
.product p{
    margin-top: 5px;
}

.products-section h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.quote{
    
    display: flex;
    flex-direction: column;
    width: 80%;
}

.quote-author{
    align-self: flex-end;
    padding-bottom: 40px;
    font-weight: bold;

}

.quote-message{
    /* font-style: italic; */
    padding: 40px;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-section{
    background-color: #E5E7EB;
}

.nav-link a{
    text-decoration: none;
    color: white;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.signup{
    background-color: #C08261;
    width: 80%;
    margin: auto;
    padding: 25px;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.signup-details{
    flex-basis: 70%;
    margin-right: auto;
    color: white;
}
footer{
    background-color: #9A3B3B;
    color: white;
    text-align: center;
    padding: 20px;
}



.btn:hover{
    cursor: pointer;
}

.product-p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px) {
    .hero-details{
        flex-basis: 80%;
    }
}